<h1 class="text-center mb-8">Welcome <%= current_user.name %> !</h1>
<%# if @match %>
<!--  <h2 class="mb-5 text-3xl font-bold text-center">Match en direct: </h2>-->
<%# end %>
<div class="w-6/12 mx-auto">
  <h2 class="mb-5 text-3xl font-bold text-center">Réserver la table de Ping-Pong:</h2>
  <%= content_tag :div, data: { controller: 'calendar'} do %>
  <%= tag :div, data: { calendar_target: 'calendar', events: @db_events.to_json} %>
  <% end %>





</div>